dataset/html_hearings*.csv
dataset/pdf*.csv
dataset/pdf/*.pdf
.vscode/settings.json
classifiersbert-model/*
classifiers
src/models/wandb/*
src/notebooks/wandb/*
src/models/__pycache__/Finetuner.cpython-312.pyc
src/bert_finetuner/wandb/*
src/model_architecture/*
*__pycache__
__pycache__

